{% load static %}
<nav>

        <div class="container">
            <ul class="navbar">
                 <div class="mylogo">
                    <p><a href="{% url 'home'%}"><img src="{% static 'images/logo_2.jpg' %}"></a></p>
                 </div>

                <li><a href="{% url 'home'%}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
                <li><a href="{% url 'contact'%}">Contact</a></li>
                <li><a href="{% url 'blog'%}">Blog</a></li>
                <button class="toggle-mode" id="modeButton"> Dark Mode </button>
            </ul>

        </div>
</nav>